components:
  schemas:
    Error:
      properties:
        code:
          description: Error code
          type: integer
        error:
          description: Error message
          type: string
        timestamp:
          format: date-time
          type: string
      type: object
    HealthCheck:
      properties:
        a2a_connected:
          description: A2A protocol connection status
          type: boolean
        agent_id:
          description: Unique agent identifier
          type: string
        agent_name:
          description: Agent name
          type: string
        api_accessible:
          description: External API accessibility
          type: boolean
        capabilities:
          description: Available capabilities
          items:
            type: string
          type: array
        data_domain:
          description: Data domain
          type: string
        health_score:
          description: Health score (0.0-1.0)
          maximum: 1.0
          minimum: 0.0
          type: number
        performance_metrics:
          properties:
            avg_response_time:
              description: Average response time in seconds
              type: number
            error_count:
              description: Total errors
              type: integer
            error_rate:
              description: Error rate (0.0-1.0)
              type: number
            total_requests:
              description: Total requests processed
              type: integer
          type: object
        status:
          description: Overall health status
          enum:
          - healthy
          - unhealthy
          - a2a_healthy_api_unhealthy
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
    BearerAuth:
      scheme: bearer
      type: http
info:
  contact:
    name: Terra Constellata Development Team
    url: https://terra-constellata.ai
  description: Authenticated access to Geospatial data through the ASTER_GDEM_AGENT
    agent. Part of the Terra Constellata 'Library of Alexandria for AI Wisdom' ecosystem.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Terra Constellata ASTER_GDEM_AGENT Data Gateway Agent API
  version: 1.0.0
openapi: 3.0.3
paths:
  /execute/get_elevation_by_bbox_30m:
    post:
      description: Execute the get_elevation_by_bbox_30m capability to retrieve geospatial
        data from external sources.
      operationId: executeGetelevationbybbox30M
      parameters:
      - description: Minimum latitude
        in: query
        name: min_lat
        required: true
        schema:
          format: float
          type: number
      - description: Minimum longitude
        in: query
        name: min_lon
        required: true
        schema:
          format: float
          type: number
      - description: Maximum latitude
        in: query
        name: max_lat
        required: true
        schema:
          format: float
          type: number
      - description: Maximum longitude
        in: query
        name: max_lon
        required: true
        schema:
          format: float
          type: number
      requestBody: null
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  metadata:
                    properties:
                      data_source:
                        type: string
                      processing_time:
                        type: number
                      provenance_level:
                        type: string
                      timestamp:
                        format: date-time
                        type: string
                    type: object
                  result:
                    description: get_elevation_by_bbox_30m result data
                    type: object
                type: object
          description: get_elevation_by_bbox_30m executed successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication required
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access forbidden
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: External data source unavailable
      summary: Execute get_elevation_by_bbox_30m capability
      tags:
      - Geospatial
  /health:
    get:
      description: Retrieve comprehensive health information for the ASTER_GDEM_AGENT
        agent, including connection status, performance metrics, and external API
        accessibility.
      operationId: getHealth
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
          description: Health check successful
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Service unavailable
      summary: Get ASTER_GDEM_AGENT health status
      tags:
      - Health
  /metrics:
    get:
      description: Retrieve Prometheus-formatted metrics for monitoring the ASTER_GDEM_AGENT
        agent performance and health.
      operationId: getMetrics
      responses:
        '200':
          content:
            text/plain:
              schema:
                description: Prometheus metrics in text format
                type: string
          description: Metrics retrieved successfully
      summary: Get ASTER_GDEM_AGENT Prometheus metrics
      tags:
      - Monitoring
  /schema:
    get:
      description: Retrieve the complete agent schema and configuration information
        for ASTER_GDEM_AGENT.
      operationId: getSchema
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Agent schema information
                type: object
          description: Schema retrieved successfully
      summary: Get ASTER_GDEM_AGENT agent schema
      tags:
      - Metadata
security:
- ApiKeyAuth: []
- BearerAuth: []
servers:
- description: Production server
  url: https://api.terra-constellata.ai/agents/ASTER_GDEM_AGENT
- description: Local development server
  url: http://localhost:8080/agents/{agent_name}
